save file: main_py_output
input file: main_py_input
song count: 1000
song length: 10
chromo length: 160
max track id: 24
min hold time: 1
max hold time: 16
max pause time: 2
min note: 0
max note: 95
max volume: 100
chromo delete prob: 5
chromo add prob: 5
max step size: 1
mutation chance: 25
max tempo: 120
min tempo: 40
