save file: main_py_output
input file: main_py_input
sample file: main_py_samples
graph file: ave_fitness_graph
sample size: 3
song count: 1000
song length: 10
chromo length: 160
max track id: 24
min hold time: 1
max hold time: 16
max pause time: 2
min note: 0
max note: 84
max volume: 100
chromo delete prob: 5
chromo add prob: 5
max step size: 5
mutation chance: 30
max tempo: 120
min tempo: 40

